// Colours
$brand-primary: #85EDEF;
$brand-secondary: #FAA90B;
$brand-accent: #FE614F;
$brand-highlight: #FEE8BB;

// Sizes
$mobile: 640px;
$tablet: 768px;
$before-laptop: 1023px;
$laptop: 1024px;
$before-desktop: 1559px;
$desktop: 1560px;

// Fonts
$garet-book: "Garet-Book";
$garet-heavy: "Garet-Heavy";

// Theme
$base-padding: 0.25rem;
$mobile-padding: $base-padding * 10;
$laptop-padding: $base-padding * 20;
